.filterContainer {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

}

.filterCard {
  width: 300px;
  height: 800px;
  margin-top:20px;
  background-color: white;
  border: 1px solid lightgray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.filterText {
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px; 
  padding-left: 8px;
  text-align: start; 
}

.filterText h3 {
  font-size: 18px; 
  color: #333; 
  margin-bottom: 0; 
}

/* FilterBudget.css */

.filterBudget {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.filterBudget h4 {
  font-size: 18px;
  color: #333;
  margin-top: -5px;
}

.filterBudget p {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.filterBudget input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: #d3d3d3;
  outline: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.filterBudget input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
}

.filterBudget input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
}


.popular {
  padding: 20px;
  border-radius: 8px;
  border-bottom: 1px solid lightgray;

}

.popular h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 0;
  margin-top: -20px;
}

.filterItem {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
  margin-top:-5px ;
  margin-bottom: -25px;

}

.filterItem input[type="checkbox"] {
  margin-right: 10px;
}

.filterItem label {
  margin-right: 2px;
}

.filterItem p {
  margin-left: auto; 
  float: right;
  font-size: 16px;
  color: #666;
}

.filterRoom {
  display:flex;
  align-items: center;
  font-size :16px;
  color: #333;
  margin-top:-5px ;
  margin-bottom: -25px;

}

.filterRoom input[type="checkbox"] {
  margin-right: 10px;
}

.filterRoom label {
  margin-right: 2px;
}

.filterRoom p {
  margin-left: auto; 
  float: right;
  font-size: 16px;
  color: #666;
}

.listResult{
  margin-top: 20px;
  margin-left: 20px;
}
